
/* 1st sec/container */

.container{
    background-color: #F0FFF0;
    width: 1400px;
    height: 500px;
}

/* Related to navbar */


.navbar{
    background-color: transparent!important;
}


/* Related to button */

.button1{
color: white;
font-weight: 400;
width: 80px;
height: 30px;
left: 1200px;
top: 15px;
border: none;
background-color: #21B573;
border-radius: 30px;

}

.span1{
    color: #21B573;
}

