/* For 1st section */
.header1{
    background-color:#F0FFF0;
    height: 500px;
    padding-top: 40px;
}
.navbar{
    background-color: transparent!important;
}
.container{
    padding-top: 10px;
    padding-bottom: 50px;
}
.Logo-image img {
    width: 200px;
}
.h-image img{
    width: 500px;
}

.shad1{
    box-shadow: gray 2px 5px 12px;
}

.button1 {
    font-size: 15px;
    color: white;
    text-align: center;
    border-radius: 30px;
    padding: 8px 18px 8px 18px;
    font-weight: 500;
    background: #21B573;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
/* ******* */

.set-icon img{
    width: 50px;
    padding-bottom: 30px;
}
.set-icon{
    text-align: center;
}
.box-shaddow:hover{
  background: #F8FFFB;
  text-decoration: none;
  color: black;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px lightgray;
  cursor: pointer;
}
.bg-color{
    background-color: #F8FFFB;
}


